
.text3rem{
    font-size: 3rem;
    font-family: Helvetica, sans-serif;
    margin:  0.5rem 0 1.4rem 0;
}


/* --------------------------------------------- */

.text070rem{    
    font-family: Helvetica, sans-serif;
    font-size: .75rem;
    color: rgba(0, 0, 0, 0.575);
    line-height: .9rem;
}

.text070remCenter{    
    font-family: Helvetica, sans-serif;
    font-size: .75rem;
    color: rgba(0, 0, 0, 0.575);
    line-height: .9rem;
    margin: auto;
}

/* .text070remLink{
    color: rgba(0, 0, 0, 0.542);
    text-decoration: underline;
    margin: 0 auto 10rem auto;
} */
.text070remStriking{
    color: rgba(255, 63, 63, 0.696);
    margin-bottom: .4rem;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
.text070remLink:hover{
    color: rgba(255, 0, 0, 0.521);
}
.text070remLink:focus{
    outline: 2px solid rgba(7, 168, 255, 0.559);
}
.text070rem_green{
    color: #677e14;
}
.text070rem_red{
    color: #ff030bb8;
    
}

/* -------------------------------------------------- */

.textError{
    color: rgba(216, 5, 5, 0.516);
    text-align: center;
    font-size: .92rem;
    font-family: Helvetica, sans-serif;
}

.cursiva1rem{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 0.774);
    text-align: justify;
}

