

/* -------------------------------------------------------- */

.inputText{
    width: 20rem;
    height: 2.2rem;
    background-color: rgba(230, 230, 230, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.132);
    box-shadow: rgba(15, 15, 15, 0.05) 0px 1px 2px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    margin: .3rem 0 .4rem 0;
}
.inputText::placeholder{
    color: rgba(168, 168, 168, 0.605);
}
.inputText:focus{
    outline: 2px solid rgba(7, 168, 255, 0.559);
}

/* -------------------------------------------- */

.retroalimentacionDiv{
    width: 20rem;
    height: auto;
    text-align: justify;
    padding: .3rem .4rem;
    margin: 0 0 .7rem 0;
}
.retroalimentacionDiv_red{
    border-top: 3px solid #FF4F55;
    background-color: #FFEDEE   ;
}
.retroalimentacionDiv_green{
    border-top: 3px solid #8FAE1B;
    background-color: #F4F7E8;
}

/* -------------------------------------------- */

.buttonSubmit1{
    width: 20rem;
    height: 2.2rem;
    background-color: rgba(230, 230, 230, 0.24);
    border: 1px solid rgba(255, 0, 0, 0.289);
    box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    -webkit-box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    -moz-box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    margin: .5rem 0;
    color: rgba(255, 0, 0, 0.592);
    font-weight:700;
    letter-spacing: 1px;
    cursor: pointer;
}
.buttonSubmit1:hover{
    background-color: rgba(231, 126, 126, 0.108);
}
.buttonSubmit1:active{
    background-color: rgba(122, 59, 59, 0.108);
}
.buttonSubmit1:focus{
    border: 2px solid rgba(255, 0, 0, 0.289);
}

.buttonSubmit1_loading{
    width: 20rem;
    height: 2.2rem;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    margin: .5rem 0;
    font-weight:700;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: rgb(254, 249, 249);
    box-shadow: none;
    border: 1.4px solid rgb(244, 214, 214);
    color: rgb(248, 180, 180);
}
.buttonSubmit1_loading>span{
    width: 11px;
    height: 11px;
    position: relative;
    top: .07rem;
    right: .4rem;
    border: 2px solid rgba(220, 156, 156, 0.566);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* -------------------------------------------------- */

.buttonSubmit2{ 
    width: 20rem;
    height: 2rem;
    background-color: rgba(118, 204, 251, 0.893);
    border: 1px solid rgb(81, 192, 252);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    margin: .5rem 0;
    color: rgba(255, 255, 255, 0.686);
    font-weight:700;
    letter-spacing: 1px;
    cursor: initial;
}



.buttonSubmit2_active{ /*button activo*/
    background-color: rgba(11, 168, 252, 0.893);
    border: 1px solid rgb(6, 156, 236);
    margin: .5rem 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 20rem;
    height: 2rem;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    font-weight:700;
    letter-spacing: 1px;
    cursor: initial;
}

.buttonSubmit2_active:hover{
    background-color: rgb(34, 171, 245);
}
.buttonSubmit2_active:focus{
    outline: 1px solid rgba(7, 168, 255, 0.559);
}
.buttonSubmit2_active:active{
    background-color: rgba(2, 147, 224, 0.893);
}



.buttonSubmit2_loading{
    width: 20rem;
    height: 2rem;
    background-color: rgba(118, 204, 251, 0.893);
    border: 1px solid rgb(81, 192, 252);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    margin: .5rem 0;
    color: rgba(255, 255, 255, 0.686);
    font-weight:700;
    letter-spacing: 1px;
    cursor: initial;
}
.buttonSubmit2_loading>span{
    width: 11px;
    height: 11px;
    background-color: rgba(118, 204, 251, 0.893);
    border: 1px solid rgb(81, 192, 252);
    position: relative;
    top: .08rem;
    display: inline-block;
    right: .3rem;
    border: 2px solid rgba(255, 255, 255, 0.566);
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





/* ---------------------------------------------------------*/

.divLoading{
    padding: .8rem 1.4rem;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.242);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    box-shadow: 0px 0px 20px -4px rgba(155, 154, 154, 0.166);
    -webkit-box-shadow: 0px 0px 20px -4px rgba(155, 154, 154, 0.118);
    -moz-box-shadow: 0px 0px 20px -4px rgba(155, 154, 154, 0.166);
}
.divLoading>span{
    width: 14px;
    height: 14px;
    border: 2px solid rgba(108, 107, 107, 0.286);
    border-bottom-color: transparent;
    border-radius: 50%;
    position: relative;
    top: .14rem;
    right: .2rem;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation .8s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* -------------------------------------------------------- */
/* 

.buttonSubmit2{
    width: 20rem;
    height: 2rem;
    box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    -webkit-box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    -moz-box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    border-radius: 4px;
    font-size: .8rem;
    margin: .5rem 0;
    letter-spacing: 1px;
    letter-spacing: 1px;
    font-weight:700;
    font-family: Arial, Helvetica, sans-serif;
}
.buttonSubmit2>span{
    width: 11px;
    height: 11px;
    position: relative;
    top: .08rem;
    right: .3rem;
    border: 2px solid rgba(255, 255, 255, 0.566);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.buttonSubmit2_disable, .buttonSubmit2_loading{
    background-color: rgba(118, 204, 251, 0.893);
    border: 1px solid rgb(81, 192, 252);
    color: rgba(255, 255, 255, 0.686);
    cursor: initial;
}
.buttonSubmit2_loading>span{
    display: inline-block;
}


.buttonSubmit2_active{
    background-color: rgba(11, 168, 252, 0.893);
    border: 1px solid rgb(6, 156, 236);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.buttonSubmit2_active:hover{
    background-color: rgb(34, 171, 245);
}
.buttonSubmit2_active:focus{
    outline: 1px solid rgba(7, 168, 255, 0.559);
}
.buttonSubmit2_active:active{
    background-color: rgba(2, 147, 224, 0.893);
} */





