
.registrationContainerComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1{
    text-align: center;
    margin: .4rem 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.725);
    white-space: nowrap;
}
.h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.497);
    font-weight: 100;
    white-space: nowrap;
}

@media (max-width: 600px){
    .h1{
        font-size: 1.6rem;
    }
  .h3{
    font-size: .9rem;
  }
 }

.registrationForm{
    display: flex;
    flex-direction: column;
}

.image{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin: 2rem auto .8rem auto;
    /* cursor: pointer; */
    box-shadow: 0px 2px 5px 0px rgba(190,182,182,0.53);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(190,182,182,0.53);
    -moz-box-shadow: 0px 2px 5px 0px rgba(190,182,182,0.53);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.buttonAddFotoContainer{
    width: 5rem;
    height: 1.6;
    font-family:  sans-serif;
    white-space: noWrap;
   position: relative;
   margin: 0 auto .7rem auto;
   padding: .3rem;
   border-radius: 4px;
   text-align: center;
   font-size: .8rem;
   background-color: rgba(226, 225, 225, 0.36);
}
.buttonAddFotoContainer:hover{
    background-color: rgb(231, 231, 231);
}
.buttonAddFoto{
    width: 4.87rem;
    height: 1.27rem;
    position: absolute;
    top: 2px;
    left: 1px;
    opacity: 100%;
    border-radius: 4px;
    font-family:  sans-serif;
}
.buttonAddFoto::-webkit-file-upload-button{
    cursor: pointer;
    opacity: 0;
}
.buttonAddFoto:focus{
    outline: 2px solid rgba(7, 168, 255, 0.559);
}

