
.registrationFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1{
    text-align: center;
    margin: .4rem 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.725);
    white-space: nowrap;
}
.h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.497);
    font-weight: 100;
    white-space: nowrap;
}
.registrationForm{
    display: flex;
    flex-direction: column;
    width: 18rem;
}

.inputImage{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin: 2rem auto .8rem auto;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px rgba(190,182,182,0.53);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(190,182,182,0.53);
    -moz-box-shadow: 0px 2px 5px 0px rgba(190,182,182,0.53);
}
.inputImage:focus{
    outline: 2px solid rgba(7, 168, 255, 0.559);
}

.buttonAddFoto{
    margin: auto;
    color: rgba(0, 0, 0, 0.616);
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: .3rem .4rem;
    border-radius: .3rem;
    white-space: nowrap;
}
.buttonAddFoto:focus{
    outline: 2px solid rgba(7, 168, 255, 0.559);
}

.buttonAddFoto:hover{
    background-color: rgb(231, 231, 231);
}
.Span{
    color: rgba(68, 67, 67, 0.568);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .78rem;
    letter-spacing: -.01rem;
    margin: .9rem 0 .2rem 0;
    white-space: nowrap;
}
.inputText{
    height: 1.9rem;
    width: 18rem;
    background-color: rgba(230, 230, 230, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.132);
    box-shadow: rgba(15, 15, 15, 0.05) 0px 1px 2px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    margin-bottom:.4rem ;
}
.inputText::placeholder{
    color: rgba(168, 168, 168, 0.605);
}
.inputText:focus{
    outline: 2px solid rgba(7, 168, 255, 0.559);
}

.inputText[type="date"]{
    color: rgba(168, 168, 168, 0.605);
    font-family: Arial, Helvetica, sans-serif;
}


.buttonSubmit{
    width: 18rem;
    height: 1.9rem;
    background-color: rgba(7, 168, 255, 0.893);
    border: 1px solid rgb(6, 156, 236);
    box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    -webkit-box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    -moz-box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    margin: .5rem 0;
    color: rgb(255, 255, 255);
    font-weight:700;
    letter-spacing: 1px;
    cursor: pointer;
}
.buttonSubmit:hover{
    background-color: rgb(6, 156, 236);
}

.textoSecundario{
    font-size: .8rem;
    color: rgba(122, 122, 122, 0.695);
    margin: 1rem 0 0 0;
}
.link{
    font-size: .8rem;
    color: rgba(122, 122, 122, 0.695);
    font-weight: 600;
    white-space: nowrap;

}
.link:hover{
    color: rgba(255, 0, 0, 0.521);
}
.link:focus{
    outline: 2px solid rgba(7, 168, 255, 0.559);}

