
.repartidorBox{ 
    padding: .5rem 1rem;
    margin: .5rem ;
    border-radius: 4px;
    text-align: center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.repartidorBox_disabled{
    background-color: rgba(235, 222, 222, 0.068);
    border: 1px solid rgba(255, 0, 0, 0.289);
    color: rgba(249, 75, 75, 0.652);

}
.repartidorBox_active{
    background-color: rgba(237, 237, 237, 0.104);
    border: 1px solid rgba(132, 255, 0, 0.289);
    color: rgba(40, 248, 47, 0.792);

}



.repartidorBoxButton{
    margin: .7rem;
    border-radius: 4px;
    padding: .4rem .8rem;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.repartidorBoxButton_disabled{
    background-color: rgba(230, 230, 230, 0.24);
    border: 1px solid rgba(255, 0, 0, 0.289);
}
.repartidorBoxButton_active{
    background-color: rgba(230, 230, 230, 0.24);
    border: 1px solid rgba(132, 255, 0, 0.289);
}


