
.repartidorBox{ 
    padding: .5rem 1rem;
    margin: .5rem ;
    border-radius: 4px;
    text-align: center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.repartidorBox_disabled{
    background-color: rgba(235, 222, 222, 0.068);
    border: 1px solid rgba(255, 0, 0, 0.289);
    color: rgba(249, 75, 75, 0.652);

}
.repartidorBox_active{
    background-color: rgba(237, 237, 237, 0.104);
    border: 1px solid rgba(132, 255, 0, 0.289);
    color: rgba(40, 248, 47, 0.792);

}

.repartidorBoxButton{
    min-width: 8.7rem;
    margin: .7rem;
    border-radius: 4px;
    padding: .4rem .8rem;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.repartidorBoxButton_disabled{
    background-color: rgba(230, 230, 230, 0.24);
    border: 1px solid rgba(255, 0, 0, 0.289);
}
.repartidorBoxButton_active{
    background-color: rgba(230, 230, 230, 0.24);
    border: 1px solid rgba(132, 255, 0, 0.289);
}

.repartidorBox_noMotorcyclists{
    background-color: rgb(255, 252, 255);
    border: 1px solid rgba(132, 255, 0, 0.388);
    color: rgba(40, 248, 47, 0.388);
}
/* .repartidorBox > div{
    cursor:auto;
} */


@media (max-width: 600px){
    .repartidorBox{ 
        padding: .4rem .4rem;
        margin: .4rem;
        font-size: 1.1rem;
    }
}

@media (max-width: 435px){
    .repartidorBox{ 
        font-size: .9rem; 
        padding: .2rem .2rem;
    }
    .repartidorBoxButton{
        min-width: 6rem;
    }
}

@media (max-width: 345px){
    .repartidorBox{ 
        padding: .4rem .2rem;
        margin: .3rem;
        font-size: .8rem;
    }
}