

.landingRouteContainer{
    
}


.descriptionProjectContainer{
    position: absolute;
    width: 30rem;
    bottom: 3rem;
    line-height: 1.25rem;
    padding: .5rem .7rem;
    font-style: italic;
    text-align: justify;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 5rem;
    border: 2px solid rgba(255, 255, 255, 0.893);
}

.descriptionProjectContainer:focus{
    border: 2px solid rgba(11, 168, 252, 0.893);
}

@media (max-width: 645px){
    .descriptionProjectContainer{
        font-size: .9rem    ;
        width: auto;
        left: auto;
        bottom: 4rem;
        padding: 0 2rem;

    }
}

.buttonsLoginContainer{
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: .3rem .8rem;
    border: solid 1px red;
    margin-left: .9rem;
    text-decoration: none;
}
.button:focus{
    outline: 1px solid red;
}


.login{
    color: red;
    background-color: white;
}
.login:hover{
    box-shadow: 0px 0px 28px -23px rgba(254,0,0,0.75) inset;
-webkit-box-shadow: 0px 0px 28px -23px rgba(254,0,0,0.75) inset;
-moz-box-shadow: 0px 0px 28px -23px rgba(254,0,0,0.75) inset;
}
.signup{
    color: white;
    background-color: red;
}
.signup:hover{
    box-shadow: 0px 0px 28px -7px rgba(255,255,255,0.75) inset;
-webkit-box-shadow: 0px 0px 28px -7px rgba(255,255,255,0.75) inset;
-moz-box-shadow: 0px 0px 28px -7px rgba(255,255,255,0.75) inset;
}


