

.landingRouteContainer{
    
}

.ornament{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160rem;
    position: absolute;
    color: rgb(207, 227, 246);
}
.ornament1{
    top: -3rem;
    left: -26rem;
}
.ornament2{
    top: -48rem;
    left: -57rem;
}


.descriptionProjectContainer{
    width: 30rem;
    height: 14rem;
    position: absolute;
    top: 27rem;
    left: 5rem;
}

.buttonsLoginContainer{
    position: absolute;
    right: 3rem;
    top: 2rem;
}
.button{
    padding: .3rem .8rem;
    border: solid 1px red;
    margin-left: .9rem;
    text-decoration: none;
}
.button:focus{
    outline: 1px solid red;
}


.login{
    color: red;
    background-color: white;
}
.login:hover{
    box-shadow: 0px 0px 28px -23px rgba(254,0,0,0.75) inset;
-webkit-box-shadow: 0px 0px 28px -23px rgba(254,0,0,0.75) inset;
-moz-box-shadow: 0px 0px 28px -23px rgba(254,0,0,0.75) inset;
}
.signup{
    color: white;
    background-color: red;
}
.signup:hover{
    box-shadow: 0px 0px 28px -7px rgba(255,255,255,0.75) inset;
-webkit-box-shadow: 0px 0px 28px -7px rgba(255,255,255,0.75) inset;
-moz-box-shadow: 0px 0px 28px -7px rgba(255,255,255,0.75) inset;
}


