
.containerLogin_SignUp_RegistrationRoute{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}


.linkBack{
    text-decoration: none;
    border: 2px solid rgba(11, 168, 252, 0);
}
.linkBack:focus{
    border: 2px solid rgba(11, 168, 252, 0.893);
}


.divBack{
    position: fixed;
    top: 2rem;
    left: 4rem;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: .1rem .2rem ;
}

.divBack_img{
    left: .7rem;
    width: .7rem;
    background-color: rgba(255, 255, 255, 0.167);
    margin-right: .3rem;
}


@media (max-width: 600px){
   .divBack{
    left: 1rem;
    top: 1rem;
   }
}





