
.containerLogin_SignUp_RegistrationRoute{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}


.linkBack{
    position: absolute;
    top: 2rem;
    left: 4rem;
    text-decoration: none;
    border: 2px solid rgba(27, 175, 255, 0);
}
.linkBack:focus{
    border: 2px solid rgba(11, 168, 252, 0.893);
}


.divBack{

    /* background-color: rgb(0, 0, 0); */
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding: .1rem .2rem;
}

.divBack_img{
    position: relative;
    top: .1rem;
    width: .9rem;
    background-color: rgba(255, 255, 255, 0.167);
    margin-right: .2rem;
    transform: rotate(-90deg);
}


@media (max-width: 600px){
   .linkBack{
    left: 1rem;
    top: 1rem;
   }
}





